force-app/main/default/flows/ATF_Get_Scholarship_Course_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Learning_Program_Plan_Name</name>
        <label>Assign Learning Program Plan Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>listOfLearningProgramName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Learning_Program_Plan.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Learning_Program_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Scholarship_Name</name>
        <label>Assign Scholarship Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>listOfScholarshipName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Scholarship.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Scholarship</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Learning_Program_Plans_Exist_Or_Not</name>
        <label>Check Learning Program Plans Exist Or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Learning_Program_Plans_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Learning_Program_Plans_By_Course_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_On_Learning_Program_Plan</targetReference>
            </connector>
            <label>Learning Program Plans Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Learning_Program_Found_Or_Not</name>
        <label>Learning Program Found Or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Learning_Program_By_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Scholarship_Name_By_Course_Name</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scholarship_Exist_Or_Not</name>
        <label>Scholarship Exist Or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Learning_Program_Plans_By_Course_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Scholarship Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Scholarship_Name_By_Course_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_On_Scholarship</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ATF - Get Scholarship And course Setail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ATF - Get Scholarship &amp; Course Details</label>
    <loops>
        <name>Loop_On_Learning_Program_Plan</name>
        <label>Loop On Learning Program Plan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Learning_Program_Plans_By_Course_Name</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Learning_Program_Plan_Name</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_On_Scholarship</name>
        <label>Loop On Scholarship</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Scholarship_Name_By_Course_Name</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Scholarship_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Learning_Program_Plans_By_Course_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Learning_Program_By_Name</name>
        <label>Get Learning Program By Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Learning_Program_Found_Or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>courseName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Learning_Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Learning_Program_Plans_By_Course_Name</name>
        <label>Get  Learning Program Plans By Course Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Learning_Program_Plans_Exist_Or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Learning_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Learning_Program_By_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Learning_Program_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scholarship_Name_By_Course_Name</name>
        <label>Get Scholarship Name By Course Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scholarship_Exist_Or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Learning_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Learning_Program_By_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scholarship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Learning_Program_By_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>courseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOfLearningProgramName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>listOfScholarshipName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
