force-app/main/default/flows/ATF_Detail_Of_Internal_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Information_Of_Internal_Program</name>
        <label>Assign Information Of Internal Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TutionFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Learning_Program_Plan_By_Name.Tuition_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Learning_Program_Plan_By_Name.Application_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Learning_Program_Plan_By_Name.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Learning_Program_Plan_By_Name.Description__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ATF - Detail Of Internal Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ATF - Detail Of Internal Program</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Learning_Program_Plan_By_Name</name>
        <label>Get Learning Program Plan By Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Information_Of_Internal_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InternalProgramName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Learning_Program_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Learning_Program_Plan_By_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicationFee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Duration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InternalProgramName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TutionFee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
