force-app/main/default/flows/Get_Active_Learning_Programs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment1</name>
        <label>Assignment1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNameAccumulator</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNextNameString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Programs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment2</name>
        <label>Assignment2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>output_ProgramNames</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNameAccumulator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>output_ProgramCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCounter</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>formulaNextNameString</name>
        <dataType>String</dataType>
        <expression>IF(
  {!varCounter} &gt; 0,
  {!varNameAccumulator} &amp; &apos;, &apos; &amp; {!Loop_Through_Programs.Name},
  {!Loop_Through_Programs.Name}
)</expression>
    </formulas>
    <interviewLabel>Get Active Learning Programs {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Get Active Learning Programs</label>
    <loops>
        <name>Loop_Through_Programs</name>
        <label>Loop Through Programs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varPrograms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Programs</name>
        <label>Get Active Programs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Programs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsTopLevelProgram</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LearningProgram</object>
        <outputReference>varPrograms</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Programs</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>output_ProgramCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>output_ProgramNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Program_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNameAccumulator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrograms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LearningProgram</objectType>
    </variables>
</Flow>
