force-app/main/default/flows/Get_All_Scholarship_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Learning_Program</name>
        <label>Assign Learning Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>listOfCourse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Learning_Program.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Learning_Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Scholarship_Name</name>
        <label>Assign Scholarship Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>listOfScholarship</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Scholarship.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Scholarship</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Course_Or_Scholarship</name>
        <label>Course Or Scholarship</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Outcome</defaultConnectorLabel>
        <rules>
            <name>Course</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>user_Choice</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>user_Choice</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Course</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Learning_Program</targetReference>
            </connector>
            <label>Course</label>
        </rules>
        <rules>
            <name>Scholarship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>user_Choice</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Scholarship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Scholarship_Record</targetReference>
            </connector>
            <label>Scholarship</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get All Scholarship Record and Scholarship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get All Scholarship and Course Record</label>
    <loops>
        <name>Loop_On_Learning_Program</name>
        <label>Loop On Learning Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Learning_Program</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Learning_Program</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_on_Scholarship</name>
        <label>Loop on Scholarship</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Scholarship_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Scholarship_Name</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Learning_Program</name>
        <label>Get All Learning Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Learning_Program</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Learning_Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Scholarship_Record</name>
        <label>Get All Scholarship Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Scholarship</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scholarship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Course_Or_Scholarship</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>listOfCourse</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>listOfScholarship</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>user_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
