force-app/main/default/flows/Getting_Scholarship_Detail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Scholarship_Information</name>
        <label>Assign Scholarship Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>awardAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Scholarship_Detail.Award_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>awardPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Scholarship_Detail.Award_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>awardType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Scholarship_Detail.Award_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>citizenshipRequirement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Scholarship_Detail.Citizenship_Requirement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applicationDeadline</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Scholarship_Detail.Application_Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scholarshipType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Scholarship_Detail.Scholarship_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eligibilityCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Scholarship_Detail.Eligibility_Criteria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>minimumGPA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Scholarship_Detail.Minimum_GPA__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Getting Scholarship Detail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Getting Scholarship Detail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Scholarship detail record by name.</description>
        <name>Get_Scholarship_Detail</name>
        <label>Get Scholarship Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Scholarship_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>scholarshipName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scholarship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Scholarship_Detail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicationDeadline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>awardAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>awardPercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>awardType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>citizenshipRequirement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eligibilityCriteria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>minimumGPA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>scholarshipName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scholarshipType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
